apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  # Standard RabbitMQ credentials
  CELERY_BROKER_URL: "amqp://guest:guest@rabbitmq:5672//"
  RABBITMQ_DEFAULT_USER: "guest"
  RABBITMQ_DEFAULT_PASS: "guest"
